@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

::selection {
  background: #3c9bf5;
  color: #fff5e9;
}

html {
  font-family: 'Lato';
  scrollbar-color: #fff5e9 #18140d;
}

a:link {
  text-decoration: none; 
  color: #3c9bf5;
}

a:visited {
  text-decoration: none; 
  color: #b5075f;
}

a:hover, a:focus, a:active { 
	text-decoration: none; 
	color: #dec54c;
}

.land {
	text-align: center;
}