@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

::selection {
  background: #dec54c;
  color: #fff5e9;
}

html {
  font-family: 'Lato';
  scrollbar-color: #fff5e9 #18140d;
}

a:link {
  text-decoration: none; 
  color: #3c9bf5;
}

a:visited {
  text-decoration: none; 
  color: #b5075f;
}

a:hover, a:focus, a:active { 
    text-decoration: none; 
    color: #dec54c;
}

h1 {
  font-weight: 300;
}

.land {
    text-align: center;
}

.light {
  background: #fff5e9;
  color: #18140d
}

.dark {
  background: #18140d;
  color: #fff5e9
}

#welcome {
  background-image: url('art/oneveralready.svg');
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  color: #fff5e9;
  background-color: #fff5e9;
}

#about {
  background-image: url('art/brightonday.svg');
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  color: #fff5e9;
  background-color: #807a70;
}
